<div class="file-overview-container">
    <div class="file-view">
        <img *ngIf="getFileTypeString(fileData.file) === 'image'" src="{{fileData.file.data_url}}" alt="Image Placeholder">
        <audio controls *ngIf="getFileTypeString(fileData.file) === 'audio'">
            <source [src]="fileData.file.data_url" type="audio/{{fileData.file.type}}" />
            Your browser does not support the audio element.
        </audio>
        <video controls *ngIf="getFileTypeString(fileData.file) === 'video'" width="100%" height="100%">
            <source [src]="fileData.file.data_url" type="video/{{fileData.file.type}}" />
            Your browser does not support the video element.
        </video>
        <h1 *ngIf="getFileTypeString(fileData.file) === 'unknown'">Preview not available.</h1>
    </div>
    <div *ngIf="!editMode" class="metadata">
        <h1>{{getFileName(fileData.file)}}</h1>
        <h2 *ngIf="!isOwner">Owner: {{fileData.file.username}}</h2>
        <h2 *ngIf="fileData.file.description.length != 0">Description:</h2>
        <p *ngIf="fileData.file.description.length != 0">{{fileData.file.description}}</p>
        <p>Size: {{(fileData.file.size_in_kb).toFixed(2)}} kB</p>
        <p>Type: {{fileData.file.type}}</p>
        <p>Created at: {{fileData.file.created_at | date:'dd.MM.yyyy. HH:mm'}}</p>
        <p>Last changed: {{fileData.file.last_changed | date:'dd.MM.yyyy. HH:mm'}}</p>
        <div class="download-share-container">
            <a
                id="download-button"
                mat-button
                [href]="fileData.file.data_url"
                [download]="getFileName(fileData.file)">
                <mat-icon>download</mat-icon>
                Download
            </a>
            <button *ngIf="isOwner" mat-button class="share-file" (click)="openShareComponent()">
                <mat-icon>share</mat-icon>
                Share
            </button>
        </div>

        <h2 *ngIf="isOwner">Add to album</h2>
        <div *ngIf="isOwner" class="add-to-albums-container">
            <button class="available-album" *ngFor="let availableAlbum of availableAlbums; let i = index;" (click)="addToAlbum(i)">
                <mat-icon>folder</mat-icon>
                <h3> {{ availableAlbum.name }} </h3>
            </button>
        </div>


        <div *ngIf="isOwner" class="update-delete-buttons">
            <button
                id="update-file-button"
                mat-button
                (click)="switchUpdateMode()">
                <mat-icon>edit</mat-icon>
            </button>

            <button
                id="delete-file-button"
                mat-button
                (click)="delete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <form
        [formGroup]="updateFileForm"
        (ngSubmit)="save()"
        *ngIf="editMode"
        class="metadata">

        <mat-form-field class="field" hideRequiredMarker>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" formControlName="name">
            <mat-error *ngIf="updateFileForm?.get('name')?.invalid">Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="field" hideRequiredMarker>
            <mat-label>Description</mat-label>
            <input matInput type="text" name="description" formControlName="description"/>
<!--            <mat-error *ngIf="albumForm?.get('albumName')?.invalid">Album name invalid.</mat-error>-->
        </mat-form-field>
        <input id="file-change-input" type="file" class="hidden" (change)="uploadChange($event)">
        <label for="file-change-input" id="upload-file-change">
            Change file
        </label>
        <p>{{changedFileName}}</p>

        <div class="choice-buttons">
            <button
                id="save-changes-button"
                mat-button
                (click)="save()">
                Save
            </button>

            <button
                id="cancel-edit-button"
                mat-button
                (click)="switchUpdateMode()">
                Cancel
            </button>
        </div>
    </form>
</div>
