#top-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

h1 {
    margin: 0;
    color: #0B2433;
    font-size: 36px;
    font-weight: 500;
}

#main-container h2 {
    margin-left: 20px;
}

#upload-file, #new-album, #delete-album {
    font-size: 24px;
    background-color: #34D8F5;
    border-radius: 30px;
    padding: 10px 20px;
    height: 36px;
    text-align: center;
}

#new-album, #delete-album {
    height: 56px;
}

#upload-file:hover {
    cursor: pointer;
}

#upload-file mat-icon {
    margin-bottom: -5px;
    transform: scale(1.2);
    margin-right: 5px;
}

#new-album mat-icon, #delete-album mat-icon {
    transform: scale(1.8);
}

#delete-album {
    background-color: #F84A4A;
}

.icon-display {
    transform: scale(1.4);
}

#main-container{
    height: 100vh;
    width: calc(100vw - 300px);
    overflow-y: auto;
}

#file-container, #album-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 20px 0 20px;
}

#main-container::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
    background: #0B2433;
}

#main-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #34D8F5;
}

.album {
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: #F9F5FF;
    border-radius: 10px;
}

.album:hover{
    cursor: pointer;
    background-color: #A1CDF1;
}

.file {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F9F5FF;
    border-radius: 10px;
    max-width: 200px;
}

.file:hover{
    cursor: pointer;
    background-color: #A1CDF1;
}

.file h3, .file p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.file img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.hidden {
    display: none;
}

