<div id="main-container">

    <div id="top-container">
        <h1>
            <mat-icon class="icon-display">folder</mat-icon>
            Albums
        </h1>
        <button mat-button id="new-album"
        (click)="newAlbum()">
            <mat-icon>add</mat-icon>
            New album
        </button>
    </div>

    <div id="album-container">
        <div class="album" *ngFor="let album of albums">
            <mat-icon>folder</mat-icon>
            <h3> {{ album.name }} </h3>
        </div>
    </div>

</div>
